* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    padding: 0px 10px;
}

/* HERO SECTION */
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 17px 150px;
}

.upper-hero {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-links{
    display: flex;
}

#secondary-text {
    font-size: 16px;
    color: #c6c6c7;
}

.lower-hero {
    display: flex;
    padding: 80px 0 ;
    justify-content: space-between;
}

.main-text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: auto;
    flex-wrap: wrap;
}

.btn {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    padding: 4px;
    margin: 10px 0;
}

.placeholder-container {
    display: flex;
    flex: -1;
    margin-left: 30px;
    background-color: #6D747D;
    flex-wrap: wrap;
}

#placeholder-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #e5e7eb;
    padding: 0px 100px;
}

#hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

/* MID-CONTAINER1 */

.mid-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 150px;
}

#mid-container-main-text {
    display: flex;
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 50px 0 8px 0px;
}

#box1 {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 140px;
    height: 140px;
}
#box2 {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 140px;
    height: 140px;
}

#box3 {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 140px;
    height: 140px;
}

#box4 {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 140px;
    height: 140px;
}

.below-box-text {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align:unset;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#below-text1 {
    display: flex;
    max-width: 140px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 16px;
}

#below-text2 {
    display: flex;
    max-width: 140px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 16px;
}

#below-text3 {
    display: flex;
    max-width: 140px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 16px;
}

#below-text4 {
    display: flex;
    max-width: 140px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 16px;
}

/* MID-CONTAINER2 */

.mid-container2 {
    display: flex;
    justify-content: center;
    background-color: #E4E7EB;
    padding: 90px;
}

.inner-container {
    display: flex;
    max-width: 800px;
    flex-direction: column;
}

#inspiring-quote {
    display: flex;
    text-align: left;
    font-size: 32px;
    font-family: sans-serif;
    font-style: italic;
    color: #1f2937;
    flex-wrap: wrap;
}

#author-of-quote {
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
    font-size: 22px;
    font-weight: 900px;
}

.mid-container3 {
    display: flex;
    justify-content: center;
    padding: 90px;
}

.blue-container {
    display: flex;
    background-color: #3C82F6;
    color: white;
    padding: 40px 100px;
    width: 900px;
    justify-content: space-between;
    border-radius: 10px;
}

#blue-container-secondary-text {
    color: #c6c6c7;
    font-size: 18px;
}
#blue-container-heading-text {
    gap: 1px;
    font-family: sans-serif;
}

#blue-container-btn {
    border-color: #e5e7eb;
}